.App {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;

  height: 100vh;
}

.App > header {
  flex: 0 0 100%;
  border-bottom: 1px solid black;

  margin: 0 auto;
  text-align: center;
}

.selected {
  background-color: black;
  color: white;
}
